/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 May, 2015, 1:52:13 AM
    Author     : Kumar Manasvi
*/

body {
   background-image: url("http://images.vector-images.com/clp/186328/clp154580.jpg"); 
 }

 body div:first-child {
    height: 52px;
    width: 120px;
    border-radius:5px;
    margin:auto;
    text-align:center;
    position: fixed;
    top: 580px;
    right: 5px;
}

 body div:nth-child(2) {
    height: 52px;
    width: 120px;
    border-radius:5px;
    margin:auto;
    text-align:center;
    position: fixed;
    top: 580px;
    right: 100px;
}



table {
    background-image: url("https://lh5.ggpht.com/kvswWeqQPJYFZbHQlQPswxIeAOZ-U6JQR5YQ1OYjobK9oT8bvNmptVXJbfwVZS1xnQeg=h900");  
    color:white;
    width:100%;
	margin:0 auto;
    height: 35px;
    text-align: center;
    font-size: 200%;
     position: fixed;
    top: 0px;
	right:0;
 }
 
 table tr td:first-child {
     color:black;
 }
 
  table tr td:nth-child(7) {
     color:black;
 }
 


.contents1 {

    height: 190px;
    width: 220px;
    font-size: 100%;
    border-color: #6495ED;
    background-color:#F0F8FF;
    border-radius:5px;
    margin:auto;
    text-align:center;
    position: fixed;
    top: 50px;
    right: 735px;
	z-index:100;
  
  
 }
 
  .contents2 {

    height: 206px;
    width: 160px;
    font-size: 100%;
    border-color: #6495ED;
    background-color:#F0F8FF;
    border-radius:5px;
    margin:auto;
    text-align:left;
    position: fixed;
    top: 50px;
    right: 707px;
	z-index:100;
   
  
 }
 
  .contents3 {
   
    height: 76px;
    width: 120px;
    font-size: 150%;
    border-color: #6495ED;
    background-color:#F0F8FF;
    border-radius:5px;
    margin:auto;
    text-align:center;
    position: fixed;
    top: 50px;
    right: 590px;
 	z-index:100;
  
 }
 
  .contents4 {

    height: 76px;
    width: 116px;
    font-size: 150%;
    border-color: #6495ED;
    background-color:#F0F8FF;
    border-radius:5px;
    margin:auto;
    text-align:left;
    position: fixed;
    top: 50px;
    right:530px;
  
  
 }
 
  .contents5 {
    
    height: 76px;
    width: 120px;
    font-size: 150%;
    border-color: #6495ED;
    background-color:#F0F8FF;
    border-radius:5px;
    margin:auto;
    text-align:center;
    position: fixed;
    top: 50px;
    right:420px;
	z-index:100;
}



 body div:nth-child(9) {
     background-image: url("http://ak.picdn.net/shutterstock/videos/940273/preview/stock-footage-hd-deep-water-underwater-background-loopable.jpg");
     	background-size: 1500px 2000px;
     background-repeat: no-repeat;
	 height: 1500px;
    width: 100%;
	top: 1000px;
	
}



 
 body div:nth-child(9) {
     background-image: url("http://ak.picdn.net/shutterstock/videos/940273/preview/stock-footage-hd-deep-water-underwater-background-loopable.jpg");
     	background-size: 1500px 1000px;
     background-repeat: no-repeat;
}
 



body div:nth-child(9) div:nth-child(8) div:first-child{
    
    border-radius: 5px;
    height: 40px;
    width: 150px;
    border-color: #6495ED;
    background-color:black;
    color:white;
    border-radius:5px;
    font-size: 100%;
    //margin:auto;
    text-align:center;
    position: static;
    top: 500px;
    right:1116px;

 }





 body div:nth-child(9) div:first-child {
   position:static;
   top: 500px;
   right:1116px;
 }
 
 
 
  body div:nth-child(9) div:nth-child(2)  {
    position: static;
    top: 500px;
    right:616px;
 }
 
 
body div:nth-child(9) div:nth-child(8) div:nth-child(2){
     border-radius: 5px;
    height: 40px;
    width: 150px;
    border-color: #6495ED;
    background-color:black;
    color:white;
    border-radius:5px;
    font-size: 100%;
    //margin:auto;
    text-align:center;
    position: static;
    top: 500px;
    right:616px;
 }
 
 
 
   body div:nth-child(9) div:nth-child(3){
    position: static;
    top: 500px;
    right:116px;
 }
 
 
 
 body div:nth-child(9) div:nth-child(8) div:nth-child(3){
    background-color: black;
    border-radius: 5px;
    height: 40px;
    width: 150px;
  
    color:white;
    border-radius:5px;
    font-size: 100%;
    //margin:auto;
    text-align:center;
    position: static;
    top: 500px;
    right:116px;
 }
 

 
body div:nth-child(9) div:nth-child(5) {
    border-radius: 5px;
    height: 280px;
    width: 280px;
    border-color: #6495ED;
    background-color:#BCD2EE;
    border-radius:5px;
    margin:auto;
    text-align:center;
    overflow:scroll;
     position: static;
    top: 655px;
    right:540px;
}

body div:nth-child(9) div:nth-child(6) {
    border-radius: 5px;
    height: 280px;
    width: 280px;
    border-color: #6495ED;
    background-color:#BCD2EE;
    border-radius:5px;
    margin:auto;
    text-align:center;
    overflow:scroll;
    position: static;
    top: 660px;
    right:40px;
 }
 
 
 body div:nth-child(9) div:nth-child(7)  {
    border-radius: 5px;
    height: 280px;
    width: 280px;
    border-color: #6495ED;
    background-color:#BCD2EE;
    border-radius:5px;
    margin:auto;
    text-align:center;
    overflow:scroll;
    position: static;
    top:660px;
    right:1036px;
    
 }
 
  body div:nth-child(9) div:nth-child(8) {
      
    background-color: black; 
      
    border-radius: 5px;
    height: 40px;
    width: 1500px;
    border-color: #6495ED;
   
    border-radius:5px;
    font-size: 200%;
    //margin:auto;
    //text-align:center;
    position: static;
    top: 500px;
    left:0px;
    
 }
 
 

 body div:nth-child(9) div:nth-child(4)  {
     

	width: 180px;
	height: 180px;
    

    background-repeat: no-repeat;
    position: static;
    top: 950px;
    right:600px;
    opacity: 80%;
 }
 
/************************************************/
.clear{clear:both;}
.ss{margin-top:50px;position:relative;margin-topo:100px;}
body .ss div:nth-child(8) div:first-child{border-radius: 5px; height: 40px; width: 150px; border-color: #6495ED; background-color:black;color:white;
border-radius:5px;font-size: 100%; margin:auto;text-align:center;position: fixed;top:330px;right:1085px;}
 
 body .ss div:first-child {position:fixed;top:330px;right:1116px;}
  body .ss div:nth-child(2)  {
    position: fixed;
    top:330px;
    right:616px;
 }
 
body .ss div:nth-child(8) div:nth-child(2){
     border-radius: 5px;
    height: 40px;
    width: 150px;
    border-color: #6495ED;
    background-color:black;
    color:white;
    border-radius:5px;
    font-size: 100%;
    margin:auto;
    text-align:center;
    position: fixed;
    top:330px;
    right:590px;
 }
 
   body .ss div:nth-child(3){
    position: fixed;
    top:330px;
    right:116px;
 }
 
 body .ss div:nth-child(8) div:nth-child(3){
    background-color: black;
    border-radius: 5px;
    height: 40px;
    width: 150px;
  
   color:white;
    border-radius:5px;
    font-size: 100%;
    margin:auto;
    text-align:center;
    position: fixed;
    top:330px;
    right:116px;
 }
 

 
body .ss div:nth-child(5) {
    border-radius: 5px;
    height: 280px;
    width: 280px;
    border-color: #6495ED;
    background-color:#BCD2EE;
    border-radius:5px;
    margin:auto;
    text-align:center;
    overflow:scroll;
     position: fixed;
    top: 400px;
    right:540px;
}

 body .ss div:nth-child(6) {
    border-radius: 5px;
    height: 280px;
    width: 280px;
    border-color: #6495ED;
    background-color:#BCD2EE;
    border-radius:5px;
    margin:auto;
    text-align:center;
    overflow:scroll;
    position: fixed;
    top:400px;
    right:40px;
 }
 
 
 body .ss div:nth-child(7)  {
    border-radius: 5px;
    height: 280px;
    width: 280px;
    border-color: #6495ED;
    background-color:#BCD2EE;
    border-radius:5px;
    margin:auto;
    text-align:center;
    overflow:scroll;
    position: fixed;
    top:400px;
    right:1036px;
    
 }
 
  body .ss div:nth-child(8) {
      
    background-color: black; 
      
    border-radius: 5px;
    height: 40px;
    width:100%;
    border-color: #6495ED;
    border-radius:5px;
    font-size: 200%;
    margin:auto;
    text-align:center;
    position: fixed;
    top:330px;
	right:0;
    
 }
 
 

 body .ss div:nth-child(4)  {
    width: 180px;
	height: 180px;
    

    background-repeat: no-repeat;
    position: fixed;
    top: 530px;
    right:600px;
    opacity: 80%;
 }
